<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HydrationReminder.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>46B7944E47D9BF2994E6B79181B93773370E6577</string>
				<key>dateExpires</key>
				<string>10/11/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F5DJWB4CCV.com.benjaminshafii.corgina</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.benjaminshafii.corgina</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>F5DJWB4CCV</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>F5DJWB4CCV.com.benjaminshafii.corgina</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>HydrationReminder.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>664d38c1-e87e-4ad0-93a6-de89e5840acf</string>
				<key>dateExpires</key>
				<string>10/11/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.benjaminshafii.corgina</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F5DJWB4CCV</string>
				<key>name</key>
				<string>Different AI inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
